<div class="row">
  <div class="col-12 col-xl-4">
    <div class="card">
    <h3 class="card-header primary-color-dark white-text">
        <i class="fa fa-address-card"></i> <span>Persional data</span>
    </h3>
    <div class="card-body">
      <label>Select country: </label>
      <mdb-select [ngModel]="selectedCountry" (selected)="selectedCountry" [options]="countries" placeholder="Choose your option"></mdb-select>
      <div>
          Country code: {{selectedCountry}}
      </div>
    </div>
  
    <mdb-select [(ngModel)]="selectedValue" [options]="dateOptionsSelect" placeholder="Choose time period"></mdb-select>
    <div>
        Time: {{selectedValue}}
    </div>
  </div>
</div>